*.ttf
__pycache__

# bernSCM executables
bernSCM/bernSCMD0.1
bernSCM/bernSCMD10QI
bernSCM/bernSCMD1I

# ignore following directories
bernSCM/forcing/*
bernSCM/runfiles/*
bernSCM/output/*
bernSCM/log/*
bernSCM/plots/*

#jupyternotebook stuff
bernSCM/.ipynb_checkpoints/*
